.main-container {
  background-color: #1f2223;
}

.homePage {
  display: flex;
  flex-direction: column;
  margin: 2rem 0 2rem 0;
  align-items: center;
}

.thoughtForm {
  display: flex;
  box-shadow: 0px 1px 1px 1px #f7f1f1;
  border-radius: 10px;
  width: 45rem;
  min-height: auto;
}

.thoughtForm h3 {
  padding: 0.5rem 0 0 1rem;
}

.thoughtForm-body {
  margin: 1rem;
}

.title-count,
.post-count {
  display: flex;
  justify-content: end;
  font-size: 12px;
  margin-right: 1rem;
}

.text-danger {
  font-size: 15px;
  color: #cf3636;
}

.thoughtForm-footer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.thoughtForm-login {
  display: block;
  text-align: center;
  font-size: 1.1rem;
}

.thoughts h3 {
  display: flex;
  color: #f7f1f1;
  margin: 1rem 0 1rem 0rem;
}

.thoughtList {
  box-shadow: 0px 2px 2px 2px #fff;
  border-radius: 10px;
  min-height: 25rem;
  max-height: 45rem;
}

.thoughtList-single {
  margin: 1rem 0 1rem 0rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "JetBrains Mono", monospace;
}

a:hover {
  color: #065b83;
  text-decoration: underline;
}
